.hepsi-text.primary {
  color: #000000;
  font-weight: 800;
  font-size: 15px;
}
.hepsi-text {
  word-break: break-all;
}
.hepsi-text.secondary {
  color: #777;
  font-weight: 400;
  font-size: 14px;
}

.hepsi-text.h1 {
  font-size: 25px;
  margin: 15px 0px;
}
